code { color: #000;}
.highlight span.selection { color: #C8C8C8; }
.highlight span.vi { color: #6DFF00; }
.highlight span.kn { color: #e09999; }
.highlight span.cp { color: #859900; }
.highlight span.caret { color: #000000; }
.highlight span.no { color: #859900; }
.highlight span.s2 { color: #5DAA62; }
.highlight span.nb { color: #30D14B; }
.highlight span.nc { color: #8ae6bb; font-weight: bold; }
.highlight span.nd { color: #859900; }
.highlight span.s { color: #5DAA62; }
.highlight span.nf { color: #859900; }
.highlight span.nx { color: #859900; }
.highlight span.kp { color: #39F108; }
.highlight span.nt { color: #43AA90; }
.highlight span.s1 { color: #5DAA62; }
.highlight span.bg { color: #FFFDFC; }
.highlight span.kt { color: #39F108; }
.highlight span.support_function { color: #5D8105; }
.highlight span.ow { color: #f7f5d3; }
.highlight span.mf { color: #0ABE12; }
.highlight span.bp { color: #f7f5d3; }
.highlight span.fg { color: #000000; }
.highlight span.c1 { color: #008100; }
.highlight span.kc { color: #6DFF00; }
.highlight span.c { color: #6fdbff; }
.highlight span.sx { color: #5DAA62; }
.highlight span.kd { color: #39F108; }
.highlight span.ss { color: #0ABE12; }
.highlight span.mo { color: #0ABE12; }
.highlight span.mi { color: #0ABE12; }
.highlight span.mh { color: #0ABE12; }
.highlight span.o { color: #e09999; }
.highlight span.si { color: #A9EB00; }
.highlight span.sh { color: #5DAA62; }
.highlight span.na { color: #859900; }
.highlight span.sc { color: #5DAA62; }
.highlight span.k { color: #f7f5d3; }
.highlight span.se { color: #A9EB00; }
.highlight span.sd { color: #77C471; }
.highlight span { color: #FFFFFF; }
