<div class="page-header">
  <h1 class="logo">MongoEngine</h1>
</div>

<div class="row">
  <div class="span12 strapline">
      <p>The object-document mapper to connect Python and MongoDB</p>
  </div>
</div>

<div class="row">
  <div class="span12 featured">
    <div class="span8 offset2">
      <ul class="nav nav-pills">
        <li class="active"><a href="#about" data-toggle="pill">About</a><span></span></li>
        <li><a href="#example" data-toggle="pill">Example</a><span></span></li>
        <li><a href="#announcements" data-toggle="pill">Announcements</a><span></span></li>
      </ul>
    </div>
    <div class="tab-content span8 offset2">
      <div class="tab-pane active" id="about">
          <p>
            MongoEngine is a Document-Object Mapper (think ORM, but for document databases)
            for working with MongoDB from Python. It uses a simple declarative API,
            similar to the Django ORM.
          </p>

          <p id="documentation">
            Documentation available at
            <a href="http://bit.ly/mongoengine-docs">http://bit.ly/mongoengine-docs</a>
            - there is currently a <a href="http://docs.mongoengine.org/tutorial.html">tutorial</a>, a <a href="http://docs.mongoengine.org/guide/index.html">user guide</a> and
            <a href="http://docs.mongoengine.org/apireference.html">API reference</a>.
          </p>
      </div>
      <div class="tab-pane" id="example">
{% highlight python %}
from mongoengine import *                           # To define a schema for a
                                                    # document, we create a
class Metadata(EmbeddedDocument):                   # class that inherits from
    tags = ListField(StringField())                 # Document.
    revisions = ListField(IntField())               #
                                                    # Fields are specified by
class WikiPage(Document):                           # adding field objects as
    title = StringField(required=True)              # class attributes to the
    text = StringField()                            # document class.
    metadata = EmbeddedDocumentField(Metadata)      #
                                                    # Querying is achieved by
>>> page.title = "Hello, World!"                    # calling the objects
>>> for page in WikiPage.objects:                   # attribute on a document
>>>     print page.title                            # class.
{% endhighlight %}
      </div>
      <div class="tab-pane" id="announcements">
          <h3>v0.7rc1 Released</h3>
<h3>Exciting news the release candidate for v0.7 is ready!</h3>
<p>
Since this is a release candidate it is not being pushed to PyPi but you can install it with pip like so:

<pre>
<code>
  pip install https://github.com/MongoEngine/mongoengine/tarball/v0.7rc1
</code>
</pre>
</p>

<h4>Why do an rc?</h4>

<p>
Well there have been a few changes, including some major refactoring of the meta classes so they are more readable and clear in their intent.  Python version support has been clarified - we now support python 2.5 up to python 3!  Mainly its because I don't want another 20 point release as seen in the 0.6.x series so hopefully people will be able to try 0.7 out and provide feedback.
</p>
<p>
The full changelog can be seen here: https://mongoengine-odm.readthedocs.io/changelog.html#changes-in-0-7-x
</p>
<p>
No changes are intended to be backwards breaking, but one was introduced inadvertently in the 0.6 series and not declared so it gives some notice to people upgrading.  I have added numerous FutureWarnings as defaults will change in 0.8 so you will be asked to explicitly declare intent for cascading saves etc..  See <a href="https://mongoengine-odm.readthedocs.io/upgrade.html#to-0-7">the upgrade guide</a> for the full upgrade information.
</p>

<h4>The future</h4>
<p>
MongoEngine support and usage is growing - thanks to all the issue reporters, commiters and helpers on github, 0.8 is looking to be another exciting release with continuing improvements in performance, as well as a clean up of the style and pep8'ness of the code base.  Hopefully, a few core improvements will make into the 0.8 branch but until I've coded them, I'll keep them under my hat!
<p>
<h4>Framework support</h4>
<p>
Before 0.8 is released I aim to continue supporting web frameworks and get <a href="https://github.com/MongoEngine/django-mongoengine">django-mongoengine</a> support nailed and out into the wild.  <a href="https://github.com/MongoEngine/flask-mongoengine">Flask-MongoEngine</a> has two new maintainers: Anthony Nemitz and Thomas Steinacher of <a href="https://github.com/elasticsales/flask-mongorest">flask-mongorest</a> fame and they are keen to drive the product forward.
<p>
As always any feedback let me know!
<br>
<a href="http://rosslawley.co.uk">Ross</a>
</p>
          <h3>Roadmap released</h3>
          <p>
            The roadmap has been planned to get us to a 1.0 release.
            The features coming up in 0.7 are:
            <ul>
              <li>Performance - Dirty data tracking</li>
              <li>Allow inheritance default to off</li>
              <li>Chainable QuerySet slice</li>
              <li>Serialization / deserialization</li>
              <li>Raw method for pyMongo</li>
            </ul>
            For more information see:
             <a href="/roadmap.html">Roadmap</a>
          </p>
          <h3>MongoEngine v0.6 Released</h3>
          <p>Just to let you know 0.6 has been released!
            Another massive changelog but the big items are:
            <ul>
              <li>Sharding support - through the shard_key meta data.</li>
              <li>ReplicaSet Support - You can now connect to replica sets for
                  slave okay reads.</li>
              <li>Dynamic Documents - A new base class for documents that allows
                  fully dynamic documents (or embedded documents) with expando
                  style attribute setting.</li>
              <li>PyMongo 2.2 support - PyMongo imports now cleaned up for
                  PyMongo 2.2 support.</li>
            </ul>
          </p>
          <p>
            Other improvements worth a mention are: ImageField, scalar values,
            $elementMatch support, URI connection support and many more small
            bugfixes and improvements.
          </p>
          <p>
           See the upgrade docs - for information on how best to update your
           application.<p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 secondary_info">
    <h2><a name="getting-started"></a>Getting Started</h2>
    <div class="span6">
      <p>To install MongoEngine, simply run:</p>
      <p><code>pip install mongoengine</code></p>
      <p>Downloads are also available as .zip/.tar.gz
         archives for the stable and master versions.</p>
      <p>To get to grips with MongoEngine, there is extensive
        <a href="http://bit.ly/mongoengine-docs">documentation</a>,
        <a href="http://docs.mongoengine.org/apireference.html">API references</a>
        and a <a href="http://docs.mongoengine.org/tutorial.html">tutorial</a>.

        You can find help by joining the <a href="http://groups.google.com/group/mongoengine-users">MongoEngine
        Users mailing list</a> or by chatting with other users on the <a href="irc://irc.freenode.net/mongoengine">#mongoengine IRC channel.</a>
      </p>
      <p>
        If you are interested in contributing, join the
        <a href="http://groups.google.com/group/mongoengine-dev/">developers'
        mailing list</a>.
      </p>
    </div>
    <div class="span5">
    <h3 class="first">Dependencies</h3>
    <ul class="decorated">
        <li><a href="http://api.mongodb.org/python/">pymongo 2.1.1+</a></li>
        <li><a href="http://sphinx.pocoo.org/">sphinx</a> (optional, for documentation
        generation)</li>
    </ul>
    <h3>Downloads</h3>
    <p>Development (master)<br><a href="http://github.com/mongoengine/mongoengine/tarball/master" class="download">.tar.gz</a> <a href="http://github.com/mongoengine/mongoengine/zipball/master" class="download">.zip</a></p>
    <p>Version {{ page.stable }} (stable)<br><a href="http://github.com/mongoengine/mongoengine/tarball/v{{ page.stable }}" class="download">.tar.gz</a> <a href="http://github.com/mongoengine/mongoengine/zipball/v{{ page.stable }}" class="download">.zip</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 secondary_info">
    <h2><a name="source"></a>Source</h2>
    <div class="span6">
      <p>The source code is available for download under the MIT
         License over at <a href="http://github.com/mongoengine/mongoengine">GitHub</a>. To
         checkout the latest version using git, clone the mainrepository:</p>
       <p><code>git clone https://github.com/MongoEngine/mongoengine.git</code></p>
    </div>
    <div class="span5">
      <h3 class="first">Contributing</h3>
      <p>To contribute to the project, fork it on GitHub and
      send a pull request, all contributions and suggestions are
      welcome!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 secondary_info">
    <h2><a name="community"></a>Community</h2>
      <div class="span6">
        <h3>IRC</h3>
        <p><a href="irc://irc.freenode.net/mongoengine">irc.freenode.net #mongoengine</a></p>
        <h3>Github</h3>
        <div id="github-commits"></div>
      </div>
      <div class="span5">
        <a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=mongoengine" data-widget-id="243702560702210048">Tweets about "mongoengine"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
  </div>
</div>
